h3 { margin-top:15px; margin-bottom:-10px }
h4 { margin-top:15px; margin-bottom:10px; color:blue }
rt { font-size:11px; margin-bottom:-10px; color:red }
.yptone { color:black }
num { font-size:18px }
.txt { font-size:23px }
yourname { color:green; opacity:0.3; text-decoration:underline; text-decoration-color:red }

@media screen {
  .numZis { color:gray; font-size:10px }
  .verylong { background-color:brown; color:white }
  .medlong  { background-color:blue;  color:white }
  .long     { background-color:green; color:white }
  .faultami { color:brown }
}

@media print  {
  .numZis { display:none }
  ending { display:none }
  table { page-break-inside:auto }
  .tr1  { page-break-inside:auto; page-break-after:auto }
  .pagebr { page-break-before: always }
}
