h3 { margin-top:15px; margin-bottom:-10px }
h4 { margin-top:15px; margin-bottom:10px; color:blue }
rt { font-size:20px; margin-bottom:-12px }
num { font-size:16px }
.txt { font-size:28px }

@media screen {
  .numZis { color:gray; font-size:10px }
  .verylong { color:brown }
  .medlong { color:blue }
  .long { color:green }
  .faultami { color:brown }
}

@media print  {
  .numZis { display:none }
  ending { display:none }
  table { page-break-inside:auto }
  .tr1  { page-break-inside:auto; page-break-after:auto }
  .pagebr { page-break-before: always }
}
