body { background-color:#eef8bb; font-family: "KaiTi", "Kaiti TC", "楷体", STKaiti, "华文楷体" }
.body1 { background-color:#eeffdd; font-family: "KaiTi", "Kaiti TC", "楷体", STKaiti, "华文楷体" }
.body2 { background-color:#ddeeff; font-family: "KaiTi", "Kaiti TC", "楷体", STKaiti, "华文楷体" }
a { text-decoration:none }
a:link   { color:blue }
a:visited{ color:blue }
a:hover  { color:blue }
a:focus  { color:blue }
a:active { color:blue }

inv { opacity:0 }
.content { border:0px red solid; width:750px; text-align:left; font-size:19px }
.contentW { border:0px red solid; width:900px; text-align:left; font-size:19px }
.gatha   { text-align:center }

.zKaiTi      { font-family: "KaiTi", "Kaiti TC", "楷体", STKaiti, "华文楷体" }
.zFangSongTi { font-family: "FangSong", "仿宋", STFangsong, "华文仿宋" }
.zSongTi     { font-family: "SimSong", "Songti TC", "宋体", STSong, "华文宋体" }
.zHeiTi      { font-family: "SimHei", "黑体", STHeiti, "华文黑体" }
.simplified  { color:#00b }
.epithet     { color:red; font-family:FangSong,仿宋,STFangsong,华文仿宋; line-height:20pt; margin-top:-15px; FOR:h3 }

.copyright { font-family: "FangSong", "仿宋", STFangsong, "华文仿宋"; font-size:14px }
.copyright::before {
  content: '信裹（油碗、礬水、一〇）居士自然版權所有。無限制使用、更改、轉發。若有改動並且公布，請自註明，文責自負。';
}

@media screen {
  .noprint { font-family:細明體; font-size:14px; text-align:center; padding-top:10px }
}
@media print {
  .noprint { display:none }
}

.fadein {
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 2s;
}
@keyframes fadeInOpacity {
  0% { opacity: 0; }
  100% { opacity: 1; }
}
.fadeout {
  opacity: 0;
  animation-name: fadeOutOpacity;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-delay: 4s;
  animation-duration: 2s;
}
@keyframes fadeOutOpacity {
  0% { opacity: 1; }
  100% { opacity: 0; }
}
